{% extends '../_layout.twig' %}

{% block titletag %}Home{% endblock %}


{% block bodytag %}
   
    body

     {# {% include '../components/clients.twig' %} #}

      {# {%  for i in 10..-1 %}
                        <li>
                            <figure><img src="{{img}}/frameworks/fw{{i}}.png" alt=""></figure>
                            <div>Magento</div>
                        </li>
    {%  endfor  %} #}



{% endblock %}
