//$primary-red: #e20030;
//$secandory-red: #d2032f;

$yellow: #FFE800;
$blue: #0034F2;
$peach : #FFEFE2;
$darBlue: #001356;
$themebtext : #0C1860;
$themebyellow : #FFC107;
$dark: #17243D ;
$peachGreen: #83FFCC;
