 <section class="location--section {{customclass}}">
        <div class="container">
                <h2>We’re currently hiring in</h2>
                <div class="threecolumn">
                    <ul class="list-unstyled">
                        <li >
                            <div class="services-inner location--icon">
                                <figure>
                                    <img src="{{img}}/locationcta.svg"  alt="locationicon">
                                </figure>
                                <h3>The Netherlands</h3>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
                                </p>
                                <div class="center-btn">
                                    <a href="" class="btns btn--medium">VIEW OUR 2 VACANCIES</a>
                                </div>
                            </div>
                        </li> 
                        <li >
                            <div class="services-inner location--icon">
                                <figure>
                                    <img src="{{img}}/locationcta.svg" alt="locationicon">
                                </figure>
                                <h3>Ludhiana, India</h3>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
                                </p>
                                <div class="center-btn">
                                    <a href="" class="btns btn--medium">VIEW OUR 5 VACANCIES</a>
                                </div>
                            </div>
                        </li> 
                        <li >
                            <div class="services-inner location--icon">
                                <figure>
                                    <img src="{{img}}/locationcta.svg" alt="locationicon">
                                </figure>
                                <h3>Kathmandu, Nepal</h3>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
                                </p>
                                <div class="center-btn">
                                    <a href="" class="btns btn--medium">VIEW OUR 1 VACANCy</a>
                                </div>
                            </div>
                        </li>    
                    </ul>
                </div>
        </div>
 </section>